[submodule "submodules/clay"]
	path = submodules/clay
	url = https://github.com/nicbarker/clay.git
[submodule "submodules/rpi-rgb-led-matrix"]
	path = submodules/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "submodules/utf8.h"]
	path = submodules/utf8.h
	url = https://github.com/sheredom/utf8.h.git
